@import '../../styles/mixins';
@import '../../styles/variables';


.listing-detail {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  &__images {
    display: flex;
    background-color: $main-background-color;
    overflow: auto;
    width: 100%;
    > img {
      width: 41em;
      &:not(:last-child) {
        margin-right: 0.75em;
      }
    }
  }
  &__card {
    @include card-styles;
    @include text-bg-colors;
    border-radius: 0;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    > h3 {
      font-size: 1.5em;
      margin: 0.5em;
    }
    > p, li {
      padding: 0.5em;
      margin: 0.5em;
    }
  }
  &__info {
    display: flex;
    justify-content: space-evenly;
  }
}
