@import './variables.scss';

@mixin card-styles {
  border: 0.5rem solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25em;
  margin: 1em;
}

@mixin text-bg-colors {
  background-color: $main-background-color;
  color: $main-text-color;
}

@mixin button-styles {
  background-color: $button-color;
  border-radius: 0.25em;
  color: $main-text-color;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #1f4570;
  }
}
