$main-background-color: #2a2a2a;
$seethru-background: rgba(42, 42, 42, 0.7);
$main-text-color: #e6e6e6;
$button-color: #4389da;
$button-color-hover: #1f4570;
$favorite-color: #dba613;
$logout-color: #707070;