@import '../../styles/mixins';

.area-card {
  @include card-styles;
  height: 15em;
  padding: 0.75em;
  text-decoration: none;
  margin: 0;
}

.areas-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-gap: 0.5em;
}
