@import '../../styles/mixins.scss';
@import '../../styles/variables';

.login-form {
@include text-bg-colors;
  border: 0.75rem double $main-text-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 2em;
  width: 40%;
  > label {
    margin: 0 0 0.25em;
    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }
  > input, select {
    border-radius: 0.25em;
    font-size: 1em;
    padding: 0.25em;
  }
  > h1 {
    margin: 0 0 0.5em;
  }
}

.login-button {
  @include button-styles;
}
