.login-form {
  border: 0.75rem double black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  width: 40%;
  > label {
    margin: 0 0 0.25em;
    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }
  > input {
    border-radius: 0.25em;
    padding: 0.25em;
  }
  > h1 {
    margin: 0 0 0.5em;
  }
}

.login-button {
  align-items: center;
  cursor: not-allowed;
  border: .1rem solid black;
  border-radius: 0.25em;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-top: 1em;
  padding: 0.2em;
  text-decoration: none;
  width: 98%;
}
